<!-- Include the header partial -->
<%- include("./partial/header.ejs") %> 

<main class="container">
  <section class="about-section">
    <h2>About My Blog Web</h2>
    <p>Welcome to Blog Web! 🎉</p>
    <p>
      My mission is to share my journey of learning JavaScript, Node.js, Express, and EJS with you. Through this blog, I aim to hone my skills, explore new concepts, and showcase my progress as an aspiring developer.
    </p>
    <p>
      I am a passionate learner who decided to create this blog web to develop and enhanced my understanding and share my insights with fellow learners.
    </p>
    <p>
      Have questions or feedback? Feel free to reach out to me through the contact form provided on the <a href="/contact">Contact</a> page.
    </p>

    <h3>Thank You</h3>
    <p>Happy coding! 🚀</p>
  </section>
</main>

<!-- Include the footer partial -->
<%- include("./partial/footer.ejs") %> 