<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/blog-logo.png"
      height="32px"
      width="32px"
      type="image/x-icon"
    />
    <title>Blog Web</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="blog-logo">
          <img src="/images/blog-logo.png" alt="blog logo" />
        </div>
        <div class="header-title">
          <h1>Blog Web</h1>
        </div>
        <div class="nav-menu">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
